<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ko</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao93d75264c69e0e97c73387b21d590081</string>
			</array>
		</dict>
	</array>
	<key>KakaoAppKey</key>
	<string>$(KAKAO_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaoplus</string>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>apis.data.go.kr</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
			<key>tong.visitkorea.or.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
		</dict>
	</dict>
	<key>TourApiKey</key>
	<string>$(TOUR_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Paperlogy-7Bold.ttf</string>
		<string>Paperlogy-6SemiBold.ttf</string>
		<string>Paperlogy-5Medium.ttf</string>
		<string>Paperlogy-4Regular.ttf</string>
		<string>Paperlogy-3Light.ttf</string>
		<string>GmarketSansLight.otf</string>
		<string>GmarketSansMedium.otf</string>
		<string>GmarketSansBold.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Bold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
