# --- CocoaPods ---
Pods/
!Podfile.lock

# --- Build/Derived ---
build/
DerivedData/

# --- Xcode 개인 설정 ---
xcuserdata/
*.xccheckout
*.xcscmblueprint

# --- 구버전 잔재/기타 ---
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# --- 산출물/배포 파일 ---
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# --- Playgrounds ---
timeline.xctimeline
playground.xcworkspace

# --- SwiftPM ---
.build/
# Packages/
# .swiftpm/xcode

# --- Carthage ---
# Carthage/Checkouts
Carthage/Build
Carthage/Build/

# --- Accio ---
Dependencies/
.accio/

# --- fastlane ---
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# --- Code Injection ---
iOSInjectionProject/

# --- 커버리지/워크스페이스 설정 산출물 ---
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# ============================
# Xcode 프로젝트/워크스페이스
# ============================
# 폴더 자체는 포함
!*.xcodeproj
!*.xcworkspace

# 사용자별 설정은 제외
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# 공유 설정/필수 구성은 포함(명시)
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
